# Ambientes virtuais
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc

# Arquivos locais e de IDEs
.vscode/
.idea/
*.swp

# Pastas de dados brutos e notebooks compilados
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter Notebook
.ipynb_checkpoints/
